<h2>Editing info of <%= user.name %> </h2>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name : </label>
      <input type="text" name="name" required class="form-control" value="<%= user.name  %> " id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">id. : </label>
        <input type="number" name="id" value="<%= user.id  %> " required class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">tel : </label>
        <input type="text" name="tel" value="<%= user.tel  %> " class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">address : </label>
        <input type="text" name="address" value="<%= user.address  %> " class="form-control" id="exampleInputEmail1" >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">food : </label>
        <input type="text" name="food" value="<%= user.food  %> " class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">grade : </label>
        <input type="text" name="grade" value="<%= user.grade  %> " class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">nation: </label>
        <input type="text" name="nation" value="<%= user.nation %> " class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Status (pass/fail) : </label>
        <input type="text" name="status" value="<%= user.status  %> " required class="form-control" id="exampleInputEmail1">
      </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/teacher/viewall" class="btn btn-primary">View All</a>
</form>